.main_mobile {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* MOBILE HEADER */

.home_mobile_header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #402B3A;
}

.home_mobile_header_hide {
    animation: moveOutHeader 300ms ease-out forwards;
}

.home_mobile_header_show {
    animation: moveInHeader 300ms ease-in forwards;
}

.home_mobile_header_user_image {
    border-radius: 100vmax;
    width: 40px;
}

.home_mobile_header_logo {
    width: 40px;
}

.home_mobile_header_logout {
    color: #402B3A;
    font-size: 1.8rem;
}

/*  END MOBILE HEADER */

/* MOBILE NAVIGATION */

.home_mobile_navigation {
    background-color: #A8CD9F;
    color: #402B3A;
    border-top: 1px solid #402B3A;
    height: 50px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.home_mobile_navigation_hide {
    animation: showLessNavigation 300ms ease-out forwards;
}

.home_mobile_navigation_show {
    animation: showNavigation 300ms ease-in forwards;
}

.home_mobile_navigation svg {
    font-size: 1.8rem;
}

/* END MOBILE NAVIGATION */

/* MOBILE ASIDE */
.home_mobile_aside {
    border-right: 1px solid black;
    height: 100%;
    width: 80%;
    max-width: 350px;
    background-color: #A8CD9F;
    padding-left: 10px;
    position: absolute;
    z-index: 98;
}

.home_mobile_aside_show {
    animation: openAside 500ms ease-out forwards;
}

.home_mobile_aside_close_svg {
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 2rem;
}

.home_mobile_aside_header {
    margin-top: 40px;
}

.home_mobile_aside_username {
    font-size: 1.3rem;
    margin: 15px 0 5px 0;
}

.home_mobile_aside_follower_container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    margin-bottom: 30px;
}

.home_mobile_aside_strong {
    font-weight: 800;
}

.home_mobile_aside_links_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home_mobile_aside_links {
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: 1.2rem;
}

/* END MOBILE ASIDE */

.home_content_section {
    height: 100%;
    overflow-y: auto;
    background-color: #dbf1b87e;
}


@media (min-width: 550px) {
    .home_mobile_header {
        display: none;
    }

    .home_mobile_navigation {
        display: none;
    }

    .home_mobile_aside {
        display: none;
    }
}

/* ANIMATIONS MOBILE HEADER */
@keyframes moveOutHeader {
    0% {
        margin-top: 0;
    }

    100% {
        margin-top: -100px;
        position: absolute;
    }
}

@keyframes moveInHeader {
    0% {
        margin-top: -100px;
    }

    100% {
        margin-top: 0;
    }
}

/* ANIMATIONS MOBILE NAVIGATION */
@keyframes showLessNavigation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .5;
        background-color: transparent;
    }
}

@keyframes showNavigation {
    0% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

/* ANIMATIONS MOBILE ASIDE */
@keyframes openAside {
    0% {
        left: -500px;
    }

    100% {
        left: 0;
    }
}