.welcome_main {
    padding: 20px;
}

.section_love_img_welove {
    display: none;
}

.section_love_img_parrot {
    filter: brightness(95%);
}

.section_love h5 {
    margin: 30px 0;
    font-size: 4rem;
    width: 90%;
}

.separator {
    height: 2px;
    background-color: #402B3A;
}

.section_account h2 {
    margin: 30px 0 -5px 0;
    font-size: 2rem;
}

.section_account_part_comunnity {
    margin-bottom: 40px;
}

.button_google {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.google_svg {
    font-size: 1.5rem;
}

.button_general {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #402B3A;
    background-color: #FFF6FC;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    width: 100%;
    max-width: 350px;
    transition: 200ms;
}

.button_general:hover {
    background-color: #dfd8dd;
}

.login_terms_p {
    margin-top: 8px;
    padding-left: 5px;
    font-size: .8rem;
}

.login_terms_span {
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.section_account h4 {
    margin: 30px 0 15px
}

@media (min-width: 841px) {
    .welcome_main {
        display: flex;
        justify-content: space-evenly;
        gap: 32px;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0px 20px;
        height: 100vh;
    }

    .section_love {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section_love_img_parrot {
        position: absolute;
        top: 4vh;
        left: 5%;
    }

    .section_love_img_welove {
        display: block;
        height: 55vh;
        min-height: 300px;
        max-height: 400px;
        width: auto;
        object-fit: cover;
    }

    .section_love h5 {
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 0;
    }

    .separator {
        display: none;
    }

    .section_account {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section_account h2 {
        font-size: 4rem;
    }

    .button_general {
        height: 5vh;
        max-height: 40px;
        min-height: 30px;
        padding: 0;
    }

    .section_account_part_comunnity {
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px) {
    .section_account h2 {
        font-size: 6rem;
    }

    .section_account_part_comunnity {
        font-size: 1.5rem;
    }
}